streamlit
requirements

streamlit==1.5.0   # or the latest version of Streamlit
gdown==4.5.1       # for downloading from Google Drive
pandas==1.3.3      # data manipulation library, if used
numpy==1.21.2      # numerical operations library, if used
